
body{
    margin: 0px ;
    padding: 0px;
  }

/* Section  */

header {
    width: 100%;
    height: 202px;  
    float: left;
    background-color: aqua;
}
header {
    background-image: url(../img/ROSA.jpg);
}

header h1{
    color: #ffffff;
    font-size: 51px;
    padding: 1rem;
    float: left;
    margin: 2.4rem 0px 0px 76px;
    
} 
/* Section  */


section{
    width: 100%;
    float: left;
  
    
}
nav{
    width: 100%;
    height: 60px;
    
    margin: auto;
  
} 

nav li{
  margin-left: 40%;
  
} 

nav li a{
 
    text-decoration:none;
    font-size: 20px;
    float: left;
    padding-left:2rem ;
    color: rgb(105, 6, 100);
    margin-top: 1rem;
} 


section h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

table{
   width: 60%;
   margin: 0px auto;
   background-color: rgb(255, 255, 255);
   text-align: left;
   margin-top: 2rem;
 
 }

 .tabela thead tr {
	border: 2px solid #ffffff;
    
}
.tabela thead th {
    color: #ffffff;
	padding:1rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #555555;
}

 .tabela tbody tr {
	border: 2px solid #ffffff;
   padding: 1.2rem;
}
.tabela tbody td {
	border: 2px solid #ffffff;
   padding: 1rem;
  
}

.tabela tfoot tr {
	border: 2px solid #ffffff;
}

.tabela tbody tr:nth-child(even) {
	background-color: blueviolet;
    color: cornsilk;
}
.tabela tfoot tr{
	border: 2px solid #000000;
	color: #000000;
    padding: 1rem;
	}

    footer  {
      width: 100%;
      height: 40px;
      float: left;
      text-align: center;
      margin-top: 1rem;
      background-color: blueviolet;
        }

        footer p {
         text-align: center;  
        margin-top: 0.5rem;
        }


   /* tablet  */ 
   @media(max-width:768px){
    header,
    section,
    .table,
    nav,
    footer {
        width: 100%;
        min-width: 768px;
    }
   
    header h1{
        font-size: 56px;
    }
    nav{
        width: 100%;
       
    }
    nav li{
       margin-left: 35%;
       
    }
}

    /* mobile  */
    @media(max-width:425px){
        header,
        section,
        .table,
        nav,footer
        {
            width: 100%;
            max-width:425px;
            min-width: 320px;
        }
        header h1{
            font-size: 56px;
            margin-left: 1rem;
        }
      
        nav li{
           margin-left: 2rem;
        }
        footer p{
            font-size:10px ;
            margin-left: 50% auto;
          
        }
       
   }
 